@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'maruburi';
	src: url('src/assets/fonts/OTF/MaruBuri-Bold.otf') format('opentype')
}
.SwipeableViews {
  scrollbar-width: none;
}

body {
  font-family: maruburi;
  overflow-x: hidden;
  background: #cbd5df;
  width: screen;
}
/* .btns {
	text-decoration: none;
	color: black;
} */

.dark body {
  color: #ddd;
  background: #1a202c;
}
/* .mode {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 20px;
} */
/* .naving {
  position: fixed;
  left: 30%;
  width: 100%;
} */

.ranking-1 {
  background-color: #2e8b57;
}
.ranking-2 {
  background-color: #5e8b58;
}
.ranking-3 {
  background-color: #7e8b57;
}
.pagings {
  padding-top: 60px;
}
/* .navigationChecked {
  background: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  color: #fff;
  text-align: center;
  display: block;
} */